body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 490px;
    height: auto;
    display: flex;
    flex-direction: column;

}
input{
    background-color: #171717;
    border: 2px solid #3A3A3A;
    border-radius: 10px;
    height: 35px;
    width: 490px;
    margin-bottom: 15px;
    color: white;
    padding: 0 10px;
}
button{
    background-color: #0057FF;
    height: 35px;
    width: 490px;
    border-radius: 10px;
    color: white;
}
.error{
    position: fixed;
    color: red;
    bottom: 0;
    font-size: 20px;
}